* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
}

header h1 {
    flex-grow: 1;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

/* .intro-section,
.menu-section,
.reviews-section {
} */

section {
    padding: 100px 0;
    text-align: center;
}

.intro-section {
    padding-top: 50px;
}

section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.slideshow-container {
    max-width: 70%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slide-img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px; /* 調整位置 */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 調整背景顏色透明度 */
}
.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.review {
    font-style: italic;
    color: #777;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.review-item {
    width: 80%;
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
